<app-header></app-header>
  <div class="container" style="margin-top: 100px;">
    <div class="row">
    <div class="col-md-12 col-sm-12 mt-5">
      <div class="row">

        <div class="col-md-6 col-sm-12">
          <div class="alert alert-dark text-center" role="alert">
            <h4 class="alert-heading"><b>Hola Bievenid@!</b></h4>
            <ul class="list-group">
              <li class="list-group-item">* Lee detenidamente las preguntas y respóndelas todas.</li>
              <li class="list-group-item">* Una vez completado el test se mostrará el botón 'Obtener resultado' al final del cuestionario para que compruebes los resultados obtenidos.</li>
            </ul>              
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <img class="img-fluid"  src="https://1.bp.blogspot.com/-NP7eEOefAbE/WxDUKN3inFI/AAAAAAAA1U4/eHsLhfkACwUuQuwWKGIR673oT-JW9sJagCLcBGAs/s1600/personality-traits.jpg" alt="personalidad" >
        </div>
      </div>      
      <div class="card mt-4">
        <div class="card-header alert-secondary">
          Test de Personalidad
        </div>
        <div class="card-body">
              
          <h5 class="card-title">1. Cuando estoy en una reunión de trabajo</h5>
              
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1" (change)="radioChangeHandler($event, 'p1')" >
            <label class="form-check-label" for="exampleRadios1">
              Prefiero pasar desapercibido.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option2" (change)="radioChangeHandler($event, 'p1')">
            <label class="form-check-label" for="exampleRadios2">
              Me gusta participar y expresar mi opinión.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios3" value="option3" (change)="radioChangeHandler($event, 'p1')">
            <label class="form-check-label" for="exampleRadios3">
              Intervengo solo cuando es necesario.
            </label>
          </div>
          <hr>
          <!-- pregunta 2 -->

          <h5 class="card-title">2. ¿Te gusta ser el líder?</h5>
              
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios4"  value="option1" (change)="radioChangeHandler($event, 'p2')">
            <label class="form-check-label" for="exampleRadios4">
              Sí, mucho.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios5" value="option2" (change)="radioChangeHandler($event, 'p2')">
            <label class="form-check-label" for="exampleRadios5">
             No.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios6" value="option3" (change)="radioChangeHandler($event, 'p2')">
            <label class="form-check-label" for="exampleRadios6">
              En alguna ocasión.
            </label>
          </div>

        <hr>

        <h5 class="card-title">3. ¿Cederías tu asiento si alguien lo necesitara más que tú? </h5>
              
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios7"  value="option1" (change)="radioChangeHandler($event, 'p3')">
          <label class="form-check-label" for="exampleRadios7">
            Sí.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios8"  value="option2"  (change)="radioChangeHandler($event, 'p3')">
          <label class="form-check-label" for="exampleRadios8">
          Tal vez.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios9" value="option3" (change)="radioChangeHandler($event, 'p3')">
          <label class="form-check-label" for="exampleRadios9">
            No.
          </label>
        </div>

        <hr>
        <h5 class="card-title">4. ¿Trabaja diariamente su planificación?</h5>
              
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios10"  value="option1" (change)="radioChangeHandler($event, 'p4')">
          <label class="form-check-label" for="exampleRadios10">
            Siempre.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios11" value="option2" (change)="radioChangeHandler($event, 'p4')">
          <label class="form-check-label" for="exampleRadios11">
          A veces.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios12" value="option3" (change)="radioChangeHandler($event, 'p4')">
          <label class="form-check-label" for="exampleRadios12">
            Nunca.
          </label>
        </div>
        <hr>
        <h5 class="card-title">5. ¿Te preocupan cosas que a los demás no les preocupan?</h5>
              
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios13"  value="option1" (change)="radioChangeHandler($event, 'p5')">
          <label class="form-check-label" for="exampleRadios13">
            Siempre.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios14" value="option2" (change)="radioChangeHandler($event, 'p5')">
          <label class="form-check-label" for="exampleRadios14">
          A veces.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios15" value="option3" (change)="radioChangeHandler($event, 'p5')">
          <label class="form-check-label" for="exampleRadios15">
            Nunca.
          </label>
        </div>
        <hr>
      </div>       
    </div>
  </div>

    <div class="col-md-12 col-sm-12 mt-5">
      <div class="card mt-4">
        <div class="card-header alert-secondary">
          Test demográfico
        </div>
      <div class="card-body">
        <h5 class="card-title">1. Genero </h5>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="gender1" value="option1" (change)="radioChangeHandler($event, 'p6')">
          <label class="form-check-label" for="gender1">
            Masculino.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="gender2" value="option2" (change)="radioChangeHandler($event, 'p6')">
          <label class="form-check-label" for="gender2">
            Femenino.
          </label>
        </div>
        <hr>
            
        <h5 class="card-title">2. Semestre </h5>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="semestre" id="semestre1" value="option1" (change)="radioChangeHandler($event, 'p7')">
          <label class="form-check-label" for="semestre1">
            Primer semestre.
          </label>
        </div> 
        <div class="form-check">
          <input class="form-check-input" type="radio" name="semestre" id="semestre2" value="option2" (change)="radioChangeHandler($event, 'p7')">
          <label class="form-check-label" for="semestre2">
            Segundo semestre.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="semestre" id="semestre3" value="option3" (change)="radioChangeHandler($event, 'p7')">
          <label class="form-check-label" for="semestre3">
            Tercer semestre.
          </label>
        </div> 
        <div class="form-check">
          <input class="form-check-input" type="radio" name="semestre" id="semestre4" value="option4" (change)="radioChangeHandler($event, 'p7')">
          <label class="form-check-label" for="semestre4">
            Cuarto semestre.
          </label>
        </div> 
        <div class="form-check">
          <input class="form-check-input" type="radio" name="semestre" id="semestre5" value="option5" (change)="radioChangeHandler($event, 'p7')">
          <label class="form-check-label" for="semestre5">
            Quinto semestre.
          </label>
        </div> 
        <div class="form-check">
          <input class="form-check-input" type="radio" name="semestre" id="semestre6" value="option6" (change)="radioChangeHandler($event, 'p7')">
          <label class="form-check-label" for="semestre6">
            Sexto semestre.
          </label>
        </div> 
        <div class="form-check">
          <input class="form-check-input" type="radio" name="semestre" id="semestre7" value="option7" (change)="radioChangeHandler($event, 'p7')">
          <label class="form-check-label" for="semestre7">
            Septimo semestre.
          </label>
        </div> 
        <div class="form-check">
          <input class="form-check-input" type="radio" name="semestre" id="semestre8" value="option8" (change)="radioChangeHandler($event, 'p7')">
          <label class="form-check-label" for="semestre8">
            Octavo semestre.
          </label>
        </div> 
        <div class="form-check">
          <input class="form-check-input" type="radio" name="semestre" id="semestre9" value="option9" (change)="radioChangeHandler($event, 'p7')">
          <label class="form-check-label" for="semestre9">
            Noveno semestre.
          </label>
        </div> 
        <div class="form-check">
          <input class="form-check-input" type="radio" name="semestre" id="semestre10" value="option10" (change)="radioChangeHandler($event, 'p7')">
          <label class="form-check-label" for="semestre10">
            Decimo semestre.
          </label>
        </div> 
        <hr>
       
         <h5 class="card-title">3. Es propietario de una computadora personal</h5>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="personalComputer" id="personalComputer1" value="option1" (change)="radioChangeHandler($event, 'p8')">
          <label class="form-check-label" for="personalComputer1">
            Si.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="personalComputer" id="personalComputer2" value="option2" (change)="radioChangeHandler($event, 'p8')">
          <label class="form-check-label" for="personalComputer2">
            No.
          </label>
        </div>
        <hr>
      
        <h5 class="card-title">4. Frecuencia de acceso a internet</h5>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="frecuencyInternet" id="frecuencyInternet1" value="option1" (change)="radioChangeHandler($event, 'p9')">
          <label class="form-check-label" for="frecuencyInternet1">
            Menos de una hora.
          </label>
        </div>        
        <div class="form-check">
          <input class="form-check-input" type="radio" name="frecuencyInternet" id="frecuencyInternet2" value="option2" (change)="radioChangeHandler($event, 'p9')">
          <label class="form-check-label" for="frecuencyInternet2">
            Una a tres horas diarias.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="frecuencyInternet" id="frecuencyInternet3" value="option3" (change)="radioChangeHandler($event, 'p9')">
          <label class="form-check-label" for="frecuencyInternet3">
            Cuatro a seis horas diarias.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="frecuencyInternet" id="frecuencyInternet4" value="option4" (change)="radioChangeHandler($event, 'p9')">
          <label class="form-check-label" for="frecuencyInternet4">
            Seis a nueve horas diarias.
          </label>
        </div>
        <hr>

        <h5 class="card-title">5. Frecuencia de acceso a la pagina web de la universidad</h5>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="frecuencyUniversity" id="frecuencyUniversity1" value="option1" (change)="radioChangeHandler($event, 'p10')">
          <label class="form-check-label" for="frecuencyUniversity1">
            Una vez al mes.
          </label>
        </div>        
        <div class="form-check">
          <input class="form-check-input" type="radio" name="frecuencyUniversity" id="frecuencyUniversity2" value="option2" (change)="radioChangeHandler($event, 'p10')">
          <label class="form-check-label" for="frecuencyUniversity2">
            Algunas veces al mes.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="frecuencyUniversity" id="frecuencyUniversity3" value="option3" (change)="radioChangeHandler($event, 'p10')">
          <label class="form-check-label" for="frecuencyUniversity3">
            Una vez a las semana.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="frecuencyUniversity" id="frecuencyUniversity4" value="option4" (change)="radioChangeHandler($event, 'p10')">
          <label class="form-check-label" for="frecuencyUniversity4">
            Nunca.
          </label>
        </div>
        <hr>

        <h5 class="card-title">6. Navegador web utilizado</h5>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="browserUsed" id="browserUsed1" value="option1" (change)="radioChangeHandler($event, 'p11')">
          <label class="form-check-label" for="browserUsed1">
            Google chrome.
          </label>
        </div>        
        <div class="form-check">
          <input class="form-check-input" type="radio" name="browserUsed" id="browserUsed2" value="option2" (change)="radioChangeHandler($event, 'p11')">
          <label class="form-check-label" for="browserUsed2">
            Safari.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="browserUsed" id="browserUsed3" value="option3" (change)="radioChangeHandler($event, 'p11')">
          <label class="form-check-label" for="browserUsed3">
            Mozilla firefox.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="browserUsed" id="browserUsed4" value="option4" (change)="radioChangeHandler($event, 'p11')">
          <label class="form-check-label" for="browserUsed4">
            Internet explorer.
          </label>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-12">
          <button *ngIf="!procesando" type="button" class="btn btn-success btn-lg btn-block" (click)="determinarRasgoDePersonalidad()">PROCESAR INFORMACION</button>
          <button *ngIf="procesando" type="button" class="btn btn-success btn-lg btn-block" disabled>PROCESANDO DATOS...</button>
        </div>
      </div>
    </div>

</div>  
<footer class="footer text-center mt-5 mb-2">Juan Delgado & Alejandro Paredes | MISC 2021</footer>